html{scroll-behavior:smooth}
body{
    background-color: black;
    color: whitesmoke;
}
hr{
    border-color: lime;
    background-color: lime;
}
header{
    background-color: #201b3b;
    max-width: 100%;
    overflow: hidden;
}
header div.navbar{
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    float: right;
}
.navbar span{
    padding: 10px;
    font-size: 18px;
}
.navbar a::active{
    background-color: red;
}
.navbar span a{
    text-decoration: none;
    color: white;
}

.welcome{
    max-width: 100%;
    height: 600px;
    background-color: #201b3b;
    background-image: url(skizo1.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    overflow: hidden;
}
.aboutus{
    border-style: solid;
    float: right;
    font-size: 20px;
    margin: 180px 100px 0 0;
    background-color: rgba(32, 27, 59, 0.7);
    border-radius: 15% 0 15% 0;
    overflow: hidden;
}
.aboustus p{
    padding: 20px;
    margin: 0 auto;
}
.aboutus h3{
    font-size: 30px;
}

.whatwedo{
    background-color: #201b3b;
    max-width: 100%;
    height: auto;
}
.whatwedo h3{
    text-align: center;
    font-size: 27px;
}
.whatwedo .wedo{
   display: flex;
   justify-content: center;
   margin: 0 auto;
}
@media only screen and  (max-width: 700px){
    .whatwedo .wedo{
        display: inline-block;
        margin: 0 auto;
    }
    
}
.wedo .do{
    border-style: solid;
}
.wedo .do{
    text-align: center;
    font-size: 18px;
}
footer{
    height: 100px;
    max-width: 100%;
    background-color: #201b3b;
    overflow: hidden;
}
.footerbar{
    padding: 10px;
    margin: 0 auto;
}
footer p{
    padding: 10px;

}
footer p.copyright{
    float: left;
    max-width: 45%;
}
footer p.socialmedia{
    float: right;
    max-width: 45%;
}
